@{ Layout = "~/Views/Shared/_Layout.cshtml"; ViewData["Title"] = "Orders"; }
@model asp_ecommerce.ViewModels.SelectOrderViewModel

<section>
    <h3>Past Orders</h3>
    @{
        @if(@ViewBag.my_order.Count != 0)
        {
            @foreach ( var order in @ViewBag.my_order)
            {
                <table>
                    <thead>
                        <th>Stuff name</th>
                        <th>How many</th>
                        <th>Date ordered</th>
                        <th>Action</th>
                    </thead>
                    @foreach ( var op in order.OrderProducts)
                    {
                        <tr>
                            <td>@op.Product.Name</td>
                            <td>@op.QtyOrdered</td>
                            <td>@String.Format("{0:MMM d, yyyy}", @op.Ordered_date)</td>
                            <td><a asp-controller="Order" asp-action="DelectStuffFromOrder" asp-route-id="@op.Product.ProductId">Delete</a></td>
                        </tr>
                    }
                </table>
                
                <div class="row">
                    <form asp-controller="Order" asp-action="AddStuffToOrder" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-field col m6 s12">
                            <select asp-for="ProductId">
                                <option value="" disabled selected>Choose your option</option>
                                @foreach (var stuff in @ViewBag.stuff_to_select)
                                {
                                    <option value="@stuff.ProductId">@stuff.Name</option>
                                }
                            </select>
                            <label>add more stuff</label>
                        </div>
                        <div class="input-field col m4 s12">
                            <input asp-for="ProductQty">
                        </div>
                        <input type="hidden" asp-for="OrderId" value="@order.OrderId" id="">
                        <div class="input-field col m2 s12">
                            <input type="submit" value="Add" class="btn waves-effect waves-light">
                        </div>
                    </form>
                </div>
            }
        }
        else
        {
            <h3>You have no orders! <a asp-controller="Product" asp-action="Index">Go buy stuff!</a></h3>
        }
    }
</section>