<!-- @{ 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewData["Title"] = "Resto Reviews";
}

<h2>Resto Reviews</h2>
@{
    foreach ( var resto in @ViewBag.reviews_index)
    {
        <h5>Reviews for @resto.Name</h5>
        foreach( var review in resto.Reviews)
        {
            <p>Reviewer: @review.ApplicationUserEmail&nbsp;&nbsp;<span>--&nbsp;&nbsp;@String.Format("{0:MMM d, yyyy}", @review.Created)</span></p>
            <p>@review.ReviewContent</p>
        }
    }
} -->